.callout-unit {
    font-size: 14px;
    line-height: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 14px;
    margin: 0;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    background-color: #eeeeee;
}